{% load i18n %}
<footer style="background-color: #F5FEF8;">
  <div class="container row">
    <aside class="col-md-4">
      <p>
        <strong>🤝 {% trans "Donate" %}</strong>
      </p>
      <nav>
        <ul>
          {% for label, url in donation_links.items %}
            <li>
              <a href="{{ url }}"target="_blank">{{ label }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </aside>
    <aside class="col-md-4">
      <p>
        <strong>👥 {% trans "My social links" %}</strong>
      </p>
      <nav>
        <ul>
          {% for label, url in social_links.items %}
            <li>
              <a href="{{ url }}"target="_blank">{{ label }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </aside>
    <aside class="col-md-4">
      <p>
        <strong>🚀 {% trans "Other projects" %}</strong>
      </p>
      <nav>
        <ul>
          {% for label, url in projects_links.items %}
            <li>
              <a href="{{ url }}"target="_blank">{{ label }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </aside>
    <center class="mt-4">
      <small>
        <a href="{{ author_url }}"target="_blank">&copy; {{ current_year }} {{ author }}</a>
        {% if obj.privacy_url %}
          |  <a href="{{ obj.privacy_url }}">{% trans "Privacy Policy" %}</a>
        {% endif %}
      </small>
    </center>
  </div>
</footer>
